<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d3886167-547f-4836-bf6f-8a4f81c01d58/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/DateTimeApp20210818201210</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://datetimeapp20210818201210.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>42aa0440-7fda-4e06-9dfb-1bd6daf9eea6</ProjectGuid>
    <PublishUrl>https://datetimeapp20210818201210.scm.azurewebsites.net/</PublishUrl>
    <UserName>$DateTimeApp20210818201210</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>